html {
    scroll-behavior: smooth;
}

.movies-container {
    margin-top: 20px;
}

.top-margin {
    margin-top: 20px!important;
}

.movies-details {
    padding: 20px;
    height: 100%;
}

.ww {
    width: 100%!important;
    max-width: 100%!important; 
}

.wh {
    height: 100%!important;
    max-height: 100%!important;
}

.react-fetch-progress-bar {
    background-color: white!important;
    height: 10px!important;
    position: fixed!important;
    top: 0!important;
    left: 0!important;
}